.FAQ {
    margin: 15px auto;
    padding: 10px 10%;
    width: 80%;
    max-width: 100%;
    /* height: 1160px; */
    border-radius: 15px;
}

.FAQ h1 {
    color: #FFD8A9;
    font-size: 45px;
    text-align: center;
}

.FAQ-container {
    max-width: 100%;
    margin-top: 2rem;
    padding-bottom: 1rem;   
}

.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.answer {
    max-height: 0;
    margin: 10px 0;
    overflow: hidden;
    color:rgb(128, 125, 125);
    transition: max-height 1s ease;
}

.answer.show {
    margin: 10px 0;
    max-height: 300px;
    color:rgb(128, 125, 125);
    animation: fade 1s ease-in-out;
}

svg.show{
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from { 
        opacity: 0;
        transform: translateY(-10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0px); 
    }
}