.UserBenefits {
    margin: 15px auto;
    width: 80%;
    max-width: 100%;
    padding: 10px 10%;
    /* height: 250px; */
    border-radius: 15px;
}
@media screen and (max-width: 675px) {
    div.benefit {
        width: 100%;
    }  
}


.UserBenefits h1 {
    
    color: whitesmoke;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.UserBenefits b {
    background-image: linear-gradient(to right bottom, #ea33ef, #df2cef, #d426ef, #c820f0, #bc1af0, #9250fe, #6369ff, #277aff, #009bff, #00b6ff, #00cfff, #6be4fb);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.benefit {
    padding: 50px;
    width: 20%;
    border: 0.5px solid hsla(0,0%,100%,.49);
    border-radius: 15px;
}

.benefit p {
    color: gray;
}

