.Partners {
    margin: 15px auto;
    width: 80%;
    max-width: 100%;
    padding: 10px 10%;
    /* height: 250px; */
    border-radius: 15px;
}

.Partners h1 {
    
    background-image: linear-gradient(to right bottom, #ea33ef, #df2cef, #d426ef, #c820f0, #bc1af0, #9250fe, #6369ff, #277aff, #009bff, #00b6ff, #00cfff, #6be4fb);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}