.Partners {
    margin: 15px auto;
    width: 80%;
    max-width: 100%;
    padding: 10px 10%;
    /* height: 250px; */
    border-radius: 15px;
}

.Partners h1 {
    
    color: #FFD8A9;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}